@import url('https://fonts.googleapis.com/css?family=Roboto:100&display=swap');
body {
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	text-align: center;
}

#header {
	background-attachment: fixed;
	background-image: url("2016-09-18.jpg");
	background-size: cover;
	background-position: 50% 75%;
	padding: 10% 0% 10% 0%;
}

#header h1 {
	margin: 0px;
}

#navbar {
	background-color: #000000;
}

#navbar a {
	color: #FFFFFF;
	padding-left: 1%;
	padding-right: 1%;
	text-decoration: none; 
}

#navbar a:hover {
	background-color: #F0F0F0;
	color: #000000;
}

.StemPicLeft {
	float: left;
	height: 20%;
	width: 35%;
	padding-left: 1.5%;	
}

.StemPicRight {
	text-align: right;
	height: 20%;
	width: 35%; 
	padding-right: 1.5%;
}

table {
	border-collapse: collapse;
	width: 33%;
}

th, td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

.StemPageStuff {
	padding: 2.5% 0% 0% 0%;
	margin: 0%;
	display: flex;
	flex-direction: row;
	font-size: 80% ;
	
}
.StemPageStuff2 {
	padding: 2.5% 0% 0% 0%;
	margin: 0%;
	display: flex;
	flex-direction: row-reverse;
	font-size: 80% ;
}

.textstuff {
	Float: left;
	padding-left: 1.5%;
}

.textstuff2 {
	float: right;
	Padding-right: 1.5%;
}

.textsize1 {
	text-align: center;
	    line-height: 2.75vh;
    font-size: 2.25vh;
}

.textsize2 {
	text-align: center;
	    line-height: 2.75vh;
    font-size: 1.75vh;
}


.left {
	text-align: left;
}

.right {
	text-align: right;
}
.paddingBottem {
	padding-bottom: 1.5%;
}
.textmargins {
	display: flex;
	flex-direction: row;
	float: none;
	justify-content: center;
	margin-left: 33%;
	margin-right: 33%;
}
.marginsleft{
	margin-left: 66%;
}
.marginsright {
	margin-right: 66%;
}
