@import url('https://fonts.googleapis.com/css?family=Roboto:100&display=swap');
body {
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	text-align: center;
}

#header {
	background-attachment: fixed;
	background-image: url("2016-09-18.jpg");
	background-size: cover;
	background-position: 50% 75%;
	padding: 10% 0% 10% 0%;
}

#header h1 {
	margin: 0px;
}

#navbar {
	background-color: #000000;
}

#navbar a {
	color: #FFFFFF;
	padding-left: 1%;
	padding-right: 1%;
	text-decoration: none; 
}

#navbar a:hover {
	background-color: #F0F0F0;
	color: #000000;
}

.StemPicLeft {
	float: left;
	height: 300px;
	width: 400px;
	padding-left: 1.5%;	
}

.StemPicRight {
	text-align: right;
	height: 300px;
	width: 400px; 
	padding-right: 1.5%;
}

table {
  	border-spacing: 1em 1em;
	width: 33%;
}


.StemPageStuff {
	padding: 2.5% 0% 0% 0%;
	margin: 0%;
	display: flex;
	flex-direction: row;
}
.StemPageStuff2 {
	padding: 2.5% 0% 0% 0%;
	margin: 0%;
	display: flex;
	flex-direction: row-reverse;
}

.textstuff {
	Float: left;
	padding-left: 1.5%;
}

.textstuff2 {
	float: right;
	Padding-right: 1.5%;
}

.textsize1 {
	font-size: 180%;
	text-align: left;
}

.textsize2 {
	font-size: 120%;
	text-align: left;
}


.left {
	text-align: left;
}

.right {
	text-align: right;
}
