@import url('https://fonts.googleapis.com/css?family=Roboto:100&display=swap');
body {
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	text-align: center;
}

#header {
	background-attachment: fixed;
	background-image: url("https://lh5.googleusercontent.com/p/AF1QipP8FXZ7ImGp9bNPCFMgNX-Jt86UW6PDn7nx_VcQ=w600-h563-p-k-no");
	background-size: cover;
	background-position: 50% 75%;
	padding: 10% 0% 10% 0%;
}

#header h1 {
	margin: 0px;
}

#navbar {
	background-color: #000000;
}

#navbar a {
	color: #FFFFFF;
	padding-left: 1%;
	padding-right: 1%;
	text-decoration: none; 
}

#navbar a:hover {
	background-color: #F0F0F0;
	color: #000000;
}

#StemPicLeft {
	float: left;
	height: 300px;
	width: 300px;
	
}

#StemPageStuff {
	padding: 2.5% 0% 0% 0%;
	margin: 0%;

}

#textstuff {
	Float: left;
	padding-left: 1.5%;
}

#textsize1 {
	font-size: 180%;
}

.textsize2 {
	font-size: 120%;
	text-align: left;
}